[Desktop Entry]
Encoding=UTF-8
Name=FAQO
Comment=FAQO P2P Cryptocurrency
Comment[fr]=FAQO, monnaie virtuelle cryptographique pair à pair
Comment[tr]=FAQO, eşten eşe kriptografik sanal para birimi
Exec=faqo-qt %u
Terminal=false
Type=Application
Icon=faqo128
MimeType=x-scheme-handler/faqo;
Categories=Office;Finance;
