[Unit]
Description=FAQO's distributed currency daemon
After=network.target

[Service]
User=faqo
Group=faqo

Type=forking
PIDFile=/var/lib/faqod/faqod.pid

ExecStart=/usr/bin/faqod -daemon -pid=/var/lib/faqod/faqod.pid \
          -conf=/etc/faqo/faqo.conf -datadir=/var/lib/faqod

ExecStop=-/usr/bin/faqo-cli -conf=/etc/faqo/faqo.conf \
         -datadir=/var/lib/faqod stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
